@charset "UTF-8";
* {
  padding:0;
  margin:0;
}
html, body {
  font-size:12px;
  line-height:1.2;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}
ul,ol {
  list-style-type: none;
}
strong,b {
  font-weight:normal;
}
em {
  font-style: normal;
}
.blind {
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  clip:rect(0,0,0,0);
  text-indent:-9999px;
}
a {
  text-decoration: none;
}
button {
  border:0;
  background:none;
}