@charset "utf-8";
.nav {
  width:700px;
  margin:24px auto 0;
  > ul {
    display:table;
    width:100%;
    .nav-item {
      display:table-cell;
      a {
        display:block;
        color:#111;
        font-size:14px;
        padding:8px;
        text-align:center;
      }
    }
  }
}